doctype html
html(lang="en")
  head
    title noboru-i portfolio
    link(rel='stylesheet' href='//cdn.jsdelivr.net/devicons/1.7.0/css/devicons.min.css')
    link(rel='stylesheet' href='css/main.css')
  body
    .global-header
      img.global-header__profile-image(src="img/profile-image.jpg")
      h1.global-header__name Ishikura Noboru
    .skills
      h2 Skills
      .skill-set
        h3 Lauguages
        ul
          - var LANGUAGES = [];
          - LANGUAGES.push({name: 'Java', icon: 'devicons-java', percent: 80});
          - LANGUAGES.push({name: 'Ruby', icon: 'devicons-ruby', percent: 70});
          - LANGUAGES.push({name: 'JavaScript', icon: 'devicons-javascript', percent: 60});
          - LANGUAGES.push({name: 'Objective-C', icon: 'devicons-apple', percent: 60});
          - LANGUAGES.push({name: 'HTML', icon: 'devicons-html5', percent: 50});
          - LANGUAGES.push({name: 'CSS', icon: 'devicons-css3', percent: 50});
          - LANGUAGES.push({name: 'Python', icon: 'devicons-python', percent: 30});
          - LANGUAGES.push({name: 'PHP', icon: 'devicons-php', percent: 60});
          - LANGUAGES.push({name: 'SQL', icon: 'devicons-mysql', percent: 40});
          for val in LANGUAGES
            li.skill-box
              h4.skill-box__title
                span.devicons(class="#{val.icon}")
                | #{val.name}
              .skill-box__percent #{val.percent}
      .skill-set
        h3 Platforms
        ul
          li Linux
          li Android
          li iOS
      .skill-set
        h3 Frameworks
        ul
          li Ruby on Rails
          li Spring
          li Android SDK
          li Cocoa
      .skill-set
        h3 Middlewares
        ul
          li MySQL
          li Redis
    .company
      h2 Company
      h3
        a(href='http://monstar-lab.com/' target='_blank') 株式会社 モンスター・ラボ (Monstar Lab, Inc.)
      サービス開発事業部 テクノロジスト
    .sns
      h2 SNS
      ul
        li
          a(href='https://github.com/noboru-i' target='_blank')
            span.devicons.devicons-github_badge
            | noboru-i
        li
          a(href='https://twitter.com/noboru_i' target='_blank')
            | noboru_i
        li
          a(href='https://www.facebook.com/noboru.ishikura' target='_blank')
            | noboru.ishikura
        li
          a(href='http://qiita.com/noboru_i' target='_blank')
            | noboru_i
