doctype html
html(lang="en")
  head
    title noboru-i portfolio
    link(rel='stylesheet' href='//cdn.jsdelivr.net/devicons/1.7.0/css/devicons.min.css')
    link(rel='stylesheet' href='css/main.css')
  body
    .global-header
      img.global-header__profile-image(src="img/profile-image.jpg")
      h1.global-header__name Ishikura Noboru
    .skills
      h2 Skills
      .skill-set
        h3 Lauguages
        ul
          li
            span.devicons.devicons-java
            | Java
          li Ruby
          li JavaScript
          li Objective-C
          li HTML
          li CSS
          li Python
          li PHP
          li SQL
      .skill-set
        h3 Platforms
        ul
          li Linux
          li Android
          li iOS
      .skill-set
        h3 Frameworks
        ul
          li Ruby on Rails
          li Spring
          li Android SDK
          li Cocoa
      .skill-set
        h3 Middlewares
        ul
          li MySQL
          li Redis
    .company
      h2 Company
      h3
        a(href='http://monstar-lab.com/' target='_blank') 株式会社 モンスター・ラボ (Monstar Lab, Inc.)
      サービス開発事業部 テクノロジスト
    .sns
      h2 SNS
      ul
        li
          a(href='https://github.com/noboru-i' target='_blank')
            span.devicons.devicons-github_badge
            | noboru-i
        li
          a(href='https://twitter.com/noboru_i' target='_blank')
            | noboru_i
        li
          a(href='https://www.facebook.com/noboru.ishikura' target='_blank')
            | noboru.ishikura
        li
          a(href='http://qiita.com/noboru_i' target='_blank')
            | noboru_i
