doctype html
html(lang="en")
  head
    title noboru-i portfolio
    link(rel='stylesheet' type='test/css' href='css/main.css')
  body
    .global-header
      img.global-header__profile-image(src="img/profile-image.jpg")
      h1.global-header__name Ishikura Noboru
    .skills
      h2 Skills
      .skill-set
        h3 Lauguages
        ul
          li Java
          li Ruby
          li JavaScript
          li Objective-C
          li HTML
          li CSS
          li Python
          li PHP
          li SQL
      .skill-set
        h3 Platforms
        ul
          li Linux
          li Android
          li iOS
      .skill-set
        h3 Frameworks
        ul
          li Ruby on Rails
          li Spring
          li Android SDK
          li Cocoa
      .skill-set
        h3 Middlewares
        ul
          li MySQL
          li Redis
