@import '_reset'
@import '_parts'

white = #fff
blue = #2196F3
grey = #424242

blue_50 = #E3F2FD
blue_100 = #BBDEFB
blue_200 = #90CAF9
blue_300 = #64B5F6
blue_400 = #42A5F5
blue_500 = blue
blue_600 = #1E88E5
blue_700 = #1976D2
blue_800 = #1565C0
blue_900 = #0D47A1

body
  background-color #fff
  color white

.global-header
  width 100%
  height 400px
  padding 60px 0
  background url('../img/background.jpg') center center no-repeat
  background-size cover
  text-align center
  &__profile-image
    width 100px
    height 100px
    display block
    margin 0 auto
    border-radius 50%
  &__name
    color blue
    font-size 32px
    text-align center
    margin 30px 0 0
  &__github
    display inline-block
    border 2px solid blue
    border-radius 8px
    padding 8px 16px
    text-align center
    margin 30px auto 0
    color blue
    background alpha(white, 0.5)
    transition background-color .3s ease-out
    &:hover
      background white

.private-works
  background blue_900
  padding 40px 60px
  text-align center
  &__title
    font-size 48px

.work-box
  @extends .shadow
  display inline-block
  width 300px
  border-radius 8px
  margin 20px 20px
  &__icon
    font-size 24px
    margin 0 8px 0 0
  &__title
    display block
    color grey
    margin 8px
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
  &__ss
    width 100%
    height 300px
    background-size cover
    background-position top center
    border-radius 0 0 8px 8px

.sns
  background blue_800
  text-align center
  padding 40px 80px
  &__title
    margin 0 0 20px
.sns-box
  @extends .shadow
  display inline-block
  width 200px
  height 100px
  color grey
  margin 20px 20px
  position relative
  &__link
    width 100%
    height 100%
  &__text
    position absolute
    bottom 0
    left 0
    right 0
    margin 0 0 18px 0
  &__icon
    font-size 32px

.skills
  background blue_700
  padding 40px 0
  text-align center
  &__title
    font-size 48px
.skill-set
  margin 40px 0
  & h3
    text-decoration underline
    display block
    text-align center

.skill-box
  @extends .shadow
  display inline-block
  width 300px
  color blue
  margin 20px 20px
  padding 8px
  & .devicons
    display inline-block
    font-size 32px
    color grey
    margin 0 8px 0 0
  &__title
    display inline
    color grey
  &__percent
    font-size 48px
    &:after
      content '%'
      font-size 16px
      color grey

.company
  background blue_600
  text-align center
  padding 40px 0
  &__title
    margin 0 0 20px
